/* .login .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.login .h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.login .h-custom {
height: 100%;
}
} */

/* .nav .active a,.nav .active a:hover,.nav .active a:focus {
    background-color: green;
    color: #FFFFFF;
} */

.nav-link > .active > a { 
    background-color: green ; 
}